<!DOCTYPE html>
<html lang="ko">
  <head>
    <%-include ('baseHead.ejs')%>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <%-include ('nav.ejs')%>
    <div class="admin_container">
      <p class="page-title">관리자 페이지</p>
      <p class="sub-title">물품 관리</p>
      <hr class="line" />
      <div class="product-manage-container">
        <% for (var i = 0; i < num; i++) {%>
        <div class="card" style="width: 18rem">
          <img
            class="img"
            src="<%=product[i].productImg%>"
            onclick="location.href='/admin/manage/<%=product[i].productName%>';"
          />
          <div class="card-body">
            <h5
              href="/admin/manage"
              class="card-title"
              onclick="location.href='/admin/manage/<%=product[i].productName%>';"
            >
              <%=product[i].productName%>
            </h5>
            <form class="count-container">
              <p>현재 수량 :&nbsp;</p>
              <p><%=product[i].counts%></p>
            </form>
            <div class="btn-container">
              <form action="/adminIncrease" method="POST" class="btn btn-circle">
                <input type="hidden" name="product" value="<%=product[i].productCode%>">
                <input type="submit" value="+">
              </form>
              <form action="/adminDecrease" method="POST" class="btn btn-circle">
                <input type="hidden" name="product" value="<%=product[i].productCode%>">
                <input type="submit" value="-">
              </form>
            </div>
            <form action="/admin" method="POST" >
              <input type="hidden" name="productCode" value="<%=product[i].productCode%>">
              <input type="submit" class="delete-btn" value="삭제하기"></a>
            </form>
          </div>
        </div>
        <% } %>

        <button
          onclick="location.href='/addProduct';"
          class="product-add-btn"
          style="width: 18rem"
        >
          <p class="plus-text">+</p>
        </button>
      </div>

      <p class="sub-title">대여 내역 통계치</p>
      <hr class="line" />
      <div class="statistics-container">
        <div class="statistics-card">
          <p>2021년</p>
          <% for (var i = 0; i < statisticsCount; i++) {%> <% if
          (statistics[i].rentYear == "2021") {%>
          <p>
            - <%=statistics[i].productName%> : <%=statistics[i].rentCount%>회
          </p>
          <% }%> <%}%>
        </div>
      </div>

      <p class="sub-title">건의 사항</p>
      <hr class="line" />
      <div class="suggestion-container">
        <% for (var i = 0; i < count; i++) {%>
        <div class="suggestion-card">
          <p>
            <%=moment(suggestion[i].create_date).format('YYYY.MM.DD.');%>
          </p>
          <p><%=suggestion[i].user_id%> : <%=suggestion[i].content%></p>
        </div>
        <% } %>
      </div>
    </div>
    <%-include ('footer.ejs')%>
  </body>
</html>
