<!DOCTYPE html>
<html>
    <head>
       <%-include ('baseHead.ejs')%>       
       <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    </head>

  <body>
    <%-include ('nav.ejs')%>
    <div class="container" style="padding-top: 90px; padding-bottom: 90px">
      <div class="introduce">
       
        <h4> 🔮 뭐든지 다있수룡 🔮</h4> 
       
        <h6>성신여자대학교 학생들을 위한 물품 대여 및 예약 서비스</h6>
        <br>
        

        <h6> 포탈 로그인 후 원하는 물품을 대여할 수 있습니다.</h6>
        <h6> 현재 대여가 불가능한 물품은 “예약”을 할 수 있습니다.</h6>
        <h6> 대여 기간은 대여신청일로부터 7일간 입니다.</h6>
        <h6> 불편한 사항이 있으시면 건의사항에 꼭 남겨주세요.</h6>
        </h6>
      </div>

      <div class="cardlist">
        <% for (var i = 0; i < num; i++) {%>
        <div class="cardoutter" style="width: 18rem">
          <img src="<%=product[i].productImg%>" class="productimg" alt="물품" />
          <div class="card-body">
            <h5 class="card-title"><%=product[i].productName %></h5>
            <p class="card-text">수량: <%=product[i].counts%></p>
            <% if(product[i].counts == 0){ %>
            <button
              onclick="location.href='/reserve/<%=product[i].productName%>/<%=product[i].productCode%>';"
              class="homeBtn btn-reserve"
            >
              예약
            </button>
            <%}%> <%if(product[i].counts > 0){%>
            <button
              onclick="location.href='/rent/<%=product[i].productName%>/<%=product[i].productCode%>';"
              class="homeBtn btn-borrow"
            >
              대여
            </button>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <%-include ('footer.ejs')%>
  </body>
</html>
