<!DOCTYPE html>
<html>
    <head>
        <%-include ('baseHead.ejs')%>
        <link rel="stylesheet" href="/css/mypage.css">
    </head>

    <body>
        <%-include ('nav.ejs')%>
        <div class="container" style="padding-top: 90px; padding-bottom: 90px;">
            <div class="mypage">
                <h1>마이페이지</h1>
            </div>
            

            <div class = "outter">
                <div class="info">
                    <div class="infoBox">
                        <h4>회원정보</h4>
                        <p style="margin:10px;"><strong>학번 : <%=user %></strong></p>
                        <div class="status">
                            <p style="margin:10px;">
                                대여중 : <%=rent.length %><br>
                                예약중 : <%=reservation.length %>
                            </p>
                        </div>
                    </div>
                    <button class="button-72" onclick ="location.href = '/suggestion'" role="button">건의사항</button>
                </div>

                <div class="history">
                    <h4>대여내역</h4>
                    <hr>
                    <div class="historyList">
                        <% for (var i = 0; i < rent.length; i++){ %>
                            <div class="list">
                                <div>
                                    <img src="<%=rent[i].productImg%>" alt="물품 이미지" class="listImg">
                                </div>
                                <div>
                                    <p class="productName"><%=rent[i].productName%></p>
                                    <p class="term">대여날짜: <%= moment(rent[i].rent_date).format('YYYY-M-D'); %> <br>
                                        상태: <%=rent[i].rent_state%>
                                    </p>
                                </div>
                            </div>
                        <% } %>

                        <% if ((rent.length % 2) != 0){ %>
                            <div class="list2">
                                <div>
                                    <img src="/img/footprint.png" alt="발자국" style="width:100px; float:right;">
                                </div>
                            </div>
                        <% } %>
                        
                        <% if (rent.length == 0){ %>
                            <div class="emptyList">
                                <div style="text-align: center;">
                                    <a href="/home"><img src="/img/rentSuryong.png" alt="수룡" width=250></a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>    
            </div>
        </div>
        <%-include ('footer.ejs')%>       
    </body>
</html>