<!DOCTYPE html>
<html>
    <head>
        <%-include ('baseHead.ejs')%>
        <link rel="stylesheet" href="/css/mypage.css">
    </head>

    <body>
        <%-include ('nav.ejs')%>
        <div class="container" style="padding-top: 90px; padding-bottom: 90px;">
            <div class="mypage">
                <h1>마이페이지</h1>
            </div>
            <div class = "outter">
           
                <div class="my">
                    <div class="myInfo">회원정보</div>
                    <div class="studentId">학번 : <%=user %></div>
                    <div class="status">
                        <div class="reservation">예약중 : <%=rent.length %></div>
                        <div class="borrowing"> 대여중 : <%=reservation.length %></div>
                    </div>
                </div>   

                <div class="history">
                    <h4>대여내역</h4>
                    <hr>
                    <ol class="list-group ">
                        <% for (var i = 0; i < rent.length; i++){ %>
                            <li class=" d-flex justify-content-between align-items-start list">
                                <img src="img/우산.png" class="productimg listImg" alt="...">
                                <div class="ms-2 me-auto">
                                    <div class="productName"><%=rent[i].productName%></div>
                                    <div class="term">대여날짜: <%= moment(rent[i].rent_date).format('YYYY-M-D'); %> </div>
                                    <div class="productStatus">상태: <%=rent[i].rent_state%></div>
                                </div>
                            </li>
                        <% } %>
                    </ol>
                </div>    
            </div>
        </div>
        <%-include ('footer.ejs')%>       
    </body>
</html>